firmware/.bin
firmware/tools/flash/st-flash
sim/sim
firmware/tools/*.a
firmware/tools/*.o
firmware/tools/flash/*.o
firmware/STM32F4_drivers/build/libSTM32F4xx_drivers.a
firmware/STM32F4_drivers/build/.bin
